@model SalesListViewModel

@{ 
    ViewBag.Title = "Quarterly Sales";
}

<h4 class="mt-2 mb-2">@ViewBag.Title</h4>

<form asp-action="Filter" method="post" class="form-inline">
    <label class="col-sm-2 col-form-label">Employee</label>
    <vc:employee-drop-down selected-value="@Model.CurrentRoute.EmployeeFilter"></vc:employee-drop-down>

    <label class="col-sm-2 col-form-label">Quarter</label>
    <vc:quarter-drop-down selected-value="@Model.CurrentRoute.QuarterFilter"></vc:quarter-drop-down>

    <label class="col-sm-2 col-form-label">Year</label>
    <vc:year-drop-down selected-value="@Model.CurrentRoute.YearFilter"></vc:year-drop-down>

    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    <button type="submit" class="btn btn-primary" name="clear" value="true">Clear</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <sorting-link sort-field="@nameof(Sales.Year)" current="@Model.CurrentRoute">Year</sorting-link>
            </th>
            <th>
                <sorting-link sort-field="@nameof(Sales.Quarter)" current="@Model.CurrentRoute">Quarter</sorting-link>
            </th>
            <th>
                <sorting-link sort-field="@nameof(Sales.Employee.FullName)" current="@Model.CurrentRoute">Quarter</sorting-link>
            </th>
            <th>
                <sorting-link sort-field="@nameof(Sales.Amount)" current="@Model.CurrentRoute">Quarter</sorting-link>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sales sales in Model.Sales)
        {
            <tr>
                <td>@sales.Year</td>
                <td>@sales.Quarter</td>
                <td>@sales.Employee.FullName</td>
                <td>@sales.Amount?.ToString("C")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total Sales</td>
            <td>@Model.Sales.Sum(s => s.Amount)?.ToString("C")</td>
        </tr>
    </tfoot>
</table>

<partial name="_PagingLinksPartial" />